@charset "utf-8";

/* 
    Base Style
*/

body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    color: #333;
}

li a {
    text-decoration: none;
    color: #333;
}


/* 
    Section Style
*/

.section {
    text-align: center;
    margin: 10px 0;
}

.section-title {
    margin: 0px auto;
    width: 120px;
    font-size: 30px;
    border-bottom: 3px solid #333;
}


/* 
    Header Style
*/

.header {
    width: 960px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    margin: 0 auto;
}

.header img {
    width: 120px;
}

.header-navlist {
    display: flex;
    font-size: 18px;
}

.header-navlist>.header-navitem {
    margin-left: 20px;
}

.header-navitem a {
    padding-bottom: 4px;
    border-bottom: 2px solid #fff;
    transition: border-bottom 0.5s;
}

.header-navitem a:hover {
    border-bottom: 2px solid #333;
}


/* 
    Hero Style
*/

.hero>img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}


/* 
    About Style
*/

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about>img {
    border-radius: 50%;
    width: 140px;
    margin-right: 30px;
}

.about-description {
    text-align: left;
}


/* 
    Bicycle Style
*/

.card {
    display: flex;
    justify-content: center;
}

.card-item {
    list-style: none;
    margin-left: 5px;
}

.card-item>img {
    width: 420px;
}

.card-item>.card-title {
    font-weight: bold;
}

.card-item>.card-text {
    text-align: left;
}

@media screen and (max-width: 600px) {
    .card {
        display: block;
    }
}


/* 
    Footer Style 
*/

.footer-copy {
    display: block;
    text-align: center;
    background-color: gainsboro;
    color: #fff;
}